pkgbase = python-sphinx
	pkgdesc = Python documentation generator
	pkgver = 8.0.2
	pkgrel = 1
	url = http://www.sphinx-doc.org
	arch = any
	license = BSD-2-Clause
	checkdepends = cython
	checkdepends = imagemagick
	checkdepends = librsvg
	checkdepends = python-defusedxml
	checkdepends = python-pytest
	checkdepends = python-setuptools
	checkdepends = texlive-fontsextra
	checkdepends = texlive-fontsrecommended
	checkdepends = texlive-latexextra
	checkdepends = texlive-luatex
	checkdepends = texlive-xetex
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python>=3.12
	depends = python<3.13
	depends = python-babel
	depends = python-docutils
	depends = python-imagesize
	depends = python-jinja
	depends = python-packaging
	depends = python-pygments
	depends = python-requests
	depends = python-snowballstemmer
	depends = python-sphinx-alabaster-theme
	depends = python-sphinxcontrib-applehelp
	depends = python-sphinxcontrib-devhelp
	depends = python-sphinxcontrib-htmlhelp
	depends = python-sphinxcontrib-jsmath
	depends = python-sphinxcontrib-qthelp
	depends = python-sphinxcontrib-serializinghtml
	optdepends = imagemagick: for ext.imgconverter
	optdepends = texlive-fontsextra: for the default admonition title icons in PDF output
	optdepends = texlive-latexextra: for generation of PDF documentation
	source = sphinx-8.0.2.tar.gz::https://github.com/sphinx-doc/sphinx/archive/refs/tags/v8.0.2.tar.gz
	b2sums = ed6e321a1e58341609d88993c418ec1a0a580683ed28895077322fdba839d5c158007d65d5349d4d53c5e3b49ae823142cc6eb0203812580ebbb5b95247bf157

pkgname = python-sphinx
